/*Stylesheet for Portfolio 2 with bootstrap*/
/* general font styles and background color */
body {
	background-color: white;
	font-family: "Georgia", "Times New Roman", serif;
	height: 100%;
	width: 100%;

}

p {
	font-family: "Georgia", "Times New Roman", serif;
}

/* Header styles*/
header h3 {
	padding: 20px;
	margin: 0;
	font-family: "Georgia", serif;
	text-shadow: 0 1px grey;
	text-align: left;
}



/* Menu styles, align right in a row, font styles, margins */
.row nav #menu {


	display: flex;
	justify-content: flex-end;
	background-color: white;
	font-family: "Georgia", "Times New Roman", serif;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 0;
	margin: 0;
	width: 100%;
	height: 100%;

}

/* menu list items */
#menu li {
	padding-left: 20px;
	padding-right: 20px;
	color: black;
}

#menu li a {
	text-decoration: none;
	text-decoration-color: black;
	color: black;
}

/* about me container text-align */
#about {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	margin: auto;
	border-top-style: double;
	/*border-bottom-style: double;*/
	border-color: gray;
	background-color: white;
}

/* jumbotron h3 title color */
#about h3 {
	color: gray;
	font-family: "Georgia", "Times New Roman", serif;
  text-align: center;
}

#about h4 {
	color: gray;
	font-family: "Georgia", "Times New Roman", serif;
	text-align: center;
	padding-top: 20px;
}

#about p {
	font-size: 16px;
	padding-left: 300px;
	padding-right: 300px;
}

/* Design works container*/
.container {

	text-align: center;
	padding: 20px;

}

#design{
	border-top-style: double;
	border-color: gray;
}

/* print design h2 style */
.container h4 {
	font-family: "Georgia", "Times New Roman", serif;
	padding-bottom: 20px;
}

/* book cover images */
/*.container .col-sm-3 img {
	width: 170px;
	height: 210px;
	padding: 10px;
} */

.container .col-sm-2 img {
	padding: 5px;
	width: 150px;
	height: 200px;

}

/* website section */
#digital .row #website {
	padding: 30px;
}

#digital img {
	padding: 20px;
	/*width: 350px;
	height: 250px;*/

	border: 0.1px;
	border-width: thin;
	border-color: grey;
	border-style: solid;
}

.img-responsive {
	max-width: 100%;
	height: auto;
	display: block;
}

#digital {
	border-top-style: double;
	border-bottom-style: double;
	border-color: gray;
	font-family: "Georgia", "Times New Roman", serif;
}

#website a {

	color: black;
}

.card-group {
	display: flex;
}

.card {

}

/* modals */
#myImg {

    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.5;}

#myImg2 {

    cursor: pointer;
    transition: 0.3s;
}

#myImg2:hover {opacity: 0.5;}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 50%;
		height: auto;
		max-height: 800px;
		max-width: 800px;

}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 17px;
    color: white;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #F0FFFF;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 2000px){
    .modal-content {
        width: 2000px;
    }
}

/* footer */
footer {
	padding-right: 30px;
	font-size: 12px;
	font-family: serif;
	text-align: center;
}

footer h4 {
    font-family: serif;
}

footer img{
    height: 30px;
    width: 80px;
    margin-bottom: 30px;
}

div .email {
	text-align: center;
	margin: auto;
}

.about {
			margin: auto;
			padding: 100px;
            font-family: 'Times New Roman', serif;
		}
